# MongoDB Atlas Configuration (original)
ATLAS_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority&appName=YourApp

# Azure Cosmos DB Configuration (MongoDB API)
# Format: mongodb://username:password@accountname.mongo.cosmos.azure.com:10255/database?ssl=true&replicaSet=globaldb&retrytWrites=false&maxIdleTimeMS=120000&appName=@accountname@
# COSMOS_URI=mongodb://username:password@your-cosmos-account.mongo.cosmos.azure.com:10255/meanStackExample?ssl=true&replicaSet=globaldb&retrytWrites=false&maxIdleTimeMS=120000&appName=@your-cosmos-account@

# If COSMOS_URI is set, it will be used instead of ATLAS_URI
# This allows for easy switching between MongoDB Atlas and Azure Cosmos DB